body {
    font-family: 'Arial', sans-serif;
    background-color: #ffffff;
    margin: 0;
    overflow-x: hidden;
  }

  .sidebar {
      width: 250px;
      height: 100vh;
      position: fixed;
      top: 0;
      left: 0;
      background-color: #E7E9EB;
      color: white;
      padding-top: 20px;
      box-shadow: 4px 0 10px rgba(0, 0, 0, 0.1);
      display: flex;
      flex-direction: column;
  }

  .sidebar-user-profile {
      background-color: #eff0f1;
      padding: 15px; 
      border-top: 1px solid #D1D1D1;
  }
  .sidebar-user-profile .profile-pic {
      border-radius: 50%;
      width: 35px;
      height: 35px;
      object-fit: cover;
      margin-right: 10px;
  }

  .sidebar-user-profile span {
      color: black;
      font-size: 1rem;
      font-weight: bold;
  }

.sidebar .menu-item {
  padding: 15px 20px;
  display: flex;
  align-items: center;
  color: black;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  border-radius: none;
  transition: background-color 0s;
}

.sidebar .menu-item:hover {
  background-color: #cccccc;
}

.sidebar .menu-item i {
  margin-right: 10px;
  font-size: 1.3rem;
}

.logout-btn {
  width: 100%;
  padding: 10px;
  background-color: #ffd814; 
  color: black;
  border: none;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin-top: auto;
}

.logout-btn:hover {
  background-color: #e2c11a; 
}

header {
    background-color: #000;
    color: #fff;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    border-radius: none;
    margin-left: 250px;
    position: relative;
}

header .logo {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 15px;
}

header h1 {
    font-size: 1.75rem;
    margin: 0;
    font-weight: bold;
}

.header-right {
    display: flex;
    align-items: center;
}

.search-bar {
    padding: 8px 15px;
    font-size: 1rem;
    border-radius: 50px;
    border: 1px solid #D9D9D6;
    margin-right: 5px;
    width: 250px;
    transition: border-color 0s;
}

.search-bar:focus {
    border-color: #f7b900;
    outline: solid;
    outline-color: #f7b900;
}

header .data-center-btn {
    background-color: #ffd814;
    color: black;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 50px;
    cursor: pointer;
    margin-left: 5px;
    transition: background-color 0s;
}

header .data-center-btn:hover {
    background-color: #e2c11a;
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
    }

    header .header-right {
        flex-direction: column;
        margin-top: 10px;
    }

    .search-bar {
        margin-bottom: 10px;
        width: 80%;
    }

    header .data-center-btn {
        width: 80%;
    }
}

.container {
    margin-left: 270px;
    margin-top: 100px;
    padding-bottom: 60px;
    max-width: calc(100% - 270px);
    box-sizing: border-box;
}

footer {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 8px 15px;
    width: 100%;
    text-align: center;
    margin-top: 40px;
    border-top: 1px solid #ccc;
}
